form {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color:whitesmoke;
}

#task {
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

#submit-btn {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.4s ease;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: green;
    color: #fff;
}